Repository Telmate/proxmox-api-go, pull requests merged in 2025-08, with the labels that each got.

#445 Fixes: `.` not allowed in guest name
  proxmox/config__guest.go
  proxmox/config__guest_test.go
  proxmox/config__lxc__new_test.go
  proxmox/config__qemu_test.go
  proxmox/vmref_test.go
  test/data/test_data_guest/type_guestname.go
Labels: type/bug, modifies/go, size/L, test/needen

#447 feat: New LXC mounts
  proxmox/config__lxc__mount.go
  proxmox/config__lxc__mount_test.go
  proxmox/config__lxc__new.go
  proxmox/config__lxc__new_test.go
Labels: type/feature, modifies/go, size/XXL, test/needen

#450 Move Delete into SDK
  cli/command/delete/delete-guest.go
  cli/command/guest/guest-stop.go
  main.go
  proxmox/client.go
  proxmox/config__guest.go
  proxmox/config__guest__resource.go
  proxmox/config__guest__resource_test.go
  proxmox/config__guest_test.go
  proxmox/config__lxc__cpu.go
  proxmox/config__lxc__new.go
  proxmox/config__lxc__new_test.go
  proxmox/config__pool.go
  proxmox/config__pool_test.go
  proxmox/config__qemu.go
  proxmox/config__qemu__cloudinit.go
  proxmox/config__qemu__disk.go
  proxmox/config__qemu__network.go
  proxmox/config__qemu__pcie.go
  proxmox/config__qemu__serial.go
  proxmox/config__qemu__usb.go
  proxmox/config__user.go
  proxmox/error.go
  proxmox/error_test.go
  proxmox/node.go
  proxmox/permission.go
  proxmox/resource__mapping.go
  proxmox/type__authorizedkey.go
  proxmox/type__digest.go
  proxmox/type__vlan(s).go
  proxmox/vmref.go
  test/api/CloudInit/cloudinit_test.go
  test/api/Lxc/lxc_create_update_delete_test.go
  test/api/Lxc/lxc_start_test.go
  test/api/Qemu/qemu_clone_test.go
  test/api/Qemu/qemu_create_update_delete_test.go
  test/api/Qemu/qemu_start_test.go
Labels: type/enhancement, type/feature, modifies/go, size/XXL, test/done

#451 Refactor: Rename Getters
  cli/command/guest/guest-status.go
  cli/command/guest/guest-uptime.go
  proxmox/config__lxc__cpu.go
  proxmox/config__lxc__features.go
  proxmox/config__lxc__mount.go
  proxmox/config__lxc__networks.go
  proxmox/config__lxc__new.go
  proxmox/config__lxc__new_test.go
  proxmox/config__qemu.go
  proxmox/config__qemu__cloudinit.go
  proxmox/config__qemu__cpu.go
  proxmox/config__qemu__disk.go
  proxmox/config__qemu__guestagent.go
  proxmox/config__qemu__memory.go
  proxmox/config__qemu__network.go
  proxmox/config__qemu__pcie.go
  proxmox/config__qemu__rng.go
  proxmox/config__qemu__serial.go
  proxmox/config__qemu__usb.go
  proxmox/config__qemu_test.go
  proxmox/vmref.go
  proxmox/vmref_test.go
Labels: type/refactoring, modifies/go, size/L, test/done

#449 fix: make nextid get next id
  cli/command/get/id/get-id-next.go
  proxmox/client.go
Labels: type/bug, modifies/go, size/S, test/done

#452 Refactor nextid & GuestID.Exists()
  cli/validate.go
  proxmox/client.go
  proxmox/config__guest.go
  proxmox/config__lxc__new.go
  proxmox/config__lxc__new_test.go
  proxmox/config__qemu.go
  proxmox/data__qemu__agent.go
  proxmox/vmref.go
Labels: type/refactoring, modifies/go, size/L, test/done

#453 Refactot raw config
  docs/style-guide/sdk.md
  proxmox/config__guest__resource.go
  proxmox/config__guest__resource_test.go
  proxmox/config__lxc__cpu.go
  proxmox/config__lxc__features.go
  proxmox/config__lxc__features_test.go
  proxmox/config__lxc__mount.go
  proxmox/config__lxc__mount_test.go
  proxmox/config__lxc__networks.go
  proxmox/config__lxc__new.go
  proxmox/config__lxc__new_test.go
  proxmox/config__pool.go
  proxmox/config__pool_test.go
  proxmox/config__qemu.go
  proxmox/config__qemu__cloudinit.go
  proxmox/config__qemu__cpu.go
  proxmox/config__qemu__disk__ide.go
  proxmox/config__qemu__disk__sata.go
  proxmox/config__qemu__disk__scsi.go
  proxmox/config__qemu__disk__virtio.go
  proxmox/config__qemu__guestagent.go
  proxmox/config__qemu__memory.go
  proxmox/config__qemu__network.go
  proxmox/config__qemu__pcie.go
  proxmox/config__qemu__rng.go
  proxmox/config__qemu__serial.go
  proxmox/config__qemu__usb.go
  proxmox/config__qemu_test.go
Labels: type/enhancement, type/refactoring, modifies/go, size/XL, test/done
