Repository Telmate/proxmox-api-go, pull requests merged in 2025-06, with the labels that each got.

#421 Reimplement LXC
  docs/style-guide/sdk.md
  proxmox/config_acme_account.go
  proxmox/config_guest.go
  proxmox/config_guest_test.go
  proxmox/config_lxc__cpu.go
  proxmox/config_lxc__cpu_test.go
  proxmox/config_lxc__features.go
  proxmox/config_lxc__mount.go
  proxmox/config_lxc__mount_test.go
  proxmox/config_lxc__networks.go
  proxmox/config_lxc__networks_test.go
  proxmox/config_lxc_new.go
  proxmox/config_lxc_new_test.go
  proxmox/config_qemu.go
  proxmox/config_qemu_cloudinit.go
  proxmox/config_qemu_cloudinit_test.go
  proxmox/config_qemu_network.go
  proxmox/config_qemu_network_test.go
  proxmox/config_qemu_test.go
  proxmox/config_storage.go
  proxmox/session.go
  proxmox/session_test.go
  proxmox/type_authorizedkey_test.go
  proxmox/type_ip.go
  proxmox/type_ip_test.go
  proxmox/type_mtu.go
  proxmox/type_tag.go
  proxmox/type_vlan(s).go
  proxmox/util.go
  proxmox/validate.go
  test/api/CloudInit/cloudinit_test.go
  test/api/CloudInit/shared_test.go
  test/api/Qemu/shared_test.go
  test/data/test_data_guest/type_authorizedkey.go
  test/data/test_data_guest/type_guestname.go
  test/data/test_data_lxc/type_LxcNetworkName.go
Labels: type/feature, modifies/go, size/XXL, test/done

#422 chore: bump `golang.org/x/crypto`
  .github/workflows/go.yml
  go.mod
  go.sum
Labels: modifies/dependencies, test/done

#423 feat: use `GuestName` everywhere
  main.go
  proxmox/client.go
  proxmox/vmref.go
  proxmox/vmref_test.go
  test/api/Qemu/qemu_clone_test.go
Labels: type/enhancement, modifies/go, size/M, test/done

#424 Fix: lxc bugs
  proxmox/config_guest.go
  proxmox/config_lxc__cpu.go
  proxmox/config_lxc__cpu_test.go
  proxmox/config_lxc__mount.go
  proxmox/config_lxc__mount_test.go
  proxmox/config_lxc_new.go
  proxmox/config_lxc_new_test.go
  proxmox/util.go
Labels: type/bug, modifies/go, size/L, test/done

#425 Lxc: features
  proxmox/config_lxc__features.go
  proxmox/config_lxc_new.go
  proxmox/config_lxc_new_test.go
Labels: type/bug, type/enhancement, modifies/go, size/XL, test/done

#428 CI: bump actions/checkout and actions/setup-go versions
  .github/workflows/go.yml
Labels: size/S, type/workflow
